@model List<BakeryProject.CQRSPattern.Results.NewProduct.GetNewProductQueryResult>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@





<div class="featured-section py-5" id="products">
	<div class="container py-xl-5 py-lg-3">
		<div class="title text-center mb-5">
			<h3 class="text-dark mb-2">New Products</h3>
			<p>Ut enim ad minim veniam, quis nostrud ullam.</p>
		</div>
		<div class="content-bottom-in">
			<ul id="flexiselDemo1">
				@foreach (var item in Model)
				{
					<li>
						<div class="w3l-specilamk">
							<div class="row">
								<div class="col-lg-6 product-name-w3l">
									<h4 class="font-weight-bold">@item.ProductName</h4>
									<p class="dont-inti-w3ls mt-4 mb-2">
										@item.DescriptionBold
									</p>
									<p>
										@item.Description
									</p>
									<a href="#order" class="button-3 active mt-5 py-4 scroll">Şimdi Al</a>
								</div>
								<div class="col-lg-6 speioffer-agile">
									<img src="@item.Image" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</li>


				}
			
				
				
			</ul>
		</div>
	</div>
</div>