
@{
    Layout = null;
}

<div class="featured-section py-5" id="products">
	<div class="container py-xl-5 py-lg-3">
		<div class="title text-center mb-5">
			<h3 class="text-dark mb-2">New Products</h3>
			<p>Ut enim ad minim veniam, quis nostrud ullam.</p>
		</div>
		<div class="content-bottom-in">
			<ul id="flexiselDemo1">
				<li>
					<div class="w3l-specilamk">
						<div class="row">
							<div class="col-lg-6 product-name-w3l">
								<h4 class="font-weight-bold">Strawberry Cakes</h4>
								<p class="dont-inti-w3ls mt-4 mb-2">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accuslaudantium.
								</p>
								<p>
									Eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo, Sed ut
									perspiciatis
									unde omnis iste natus error sit voluptatem accuslaudantium.
								</p>
								<a href="#order" class="button-3 active mt-5 py-4 scroll">Order Now</a>
							</div>
							<div class="col-lg-6 speioffer-agile">
								<img src="images/product1.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l-specilamk">
						<div class="row">
							<div class="col-lg-6 product-name-w3l">
								<h4 class="font-weight-bold">Dessert Cakes</h4>
								<p class="dont-inti-w3ls mt-4 mb-2">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accuslaudantium.
								</p>
								<p>
									Eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo, Sed ut
									perspiciatis
									unde omnis iste natus error sit voluptatem accuslaudantium.
								</p>
								<a href="#order" class="button-3 active mt-5 py-4 scroll">Order Now</a>
							</div>
							<div class="col-lg-6 speioffer-agile">
								<img src="~/Site/images/product2.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l-specilamk">
						<div class="row">
							<div class="col-lg-6 product-name-w3l">
								<h4 class="font-weight-bold">Vanilla Cakes</h4>
								<p class="dont-inti-w3ls mt-4 mb-2">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accuslaudantium.
								</p>
								<p>
									Eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo, Sed ut
									perspiciatis
									unde omnis iste natus error sit voluptatem accuslaudantium.
								</p>
								<a href="#order" class="button-3 active mt-5 py-4 scroll">Order Now</a>
							</div>
							<div class="col-lg-6 speioffer-agile">
								<img src="~/Site/images/product3.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l-specilamk">
						<div class="row">
							<div class="col-lg-6 product-name-w3l">
								<h4 class="font-weight-bold">Roller Coaster</h4>
								<p class="dont-inti-w3ls mt-4 mb-2">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accuslaudantium.
								</p>
								<p>
									Eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo, Sed ut
									perspiciatis
									unde omnis iste natus error sit voluptatem accuslaudantium.
								</p>
								<a href="#order" class="button-3 active mt-5 py-4 scroll">Order Now</a>
							</div>
							<div class="col-lg-6 speioffer-agile">
								<img src="~/Site/images/product4.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="w3l-specilamk">
						<div class="row">
							<div class="col-lg-6 product-name-w3l">
								<h4 class="font-weight-bold">Chocolate Cakes</h4>
								<p class="dont-inti-w3ls mt-4 mb-2">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accuslaudantium.
								</p>
								<p>
									Eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo, Sed ut
									perspiciatis
									unde omnis iste natus error sit voluptatem accuslaudantium.
								</p>
								<a href="#order" class="button-3 active mt-5 py-4 scroll">Order Now</a>
							</div>
							<div class="col-lg-6 speioffer-agile">
								<img src="~/Site/images/product5.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>