@model BakeryProject.MediatorDesignPattern.Results.Gallery.GetGalleryByIdQueryResult

@{
    ViewData["Title"] = "CreateGallery";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>ID</label>
        <input type="text" asp-for="GalleryId" class="form-control" />
        <br />
 
        <label>Resim</label>
        <input type="text" asp-for="Image" class="form-control" />
        <br />
        <button class="btn btn-primary">Güncelle</button>
    </form>
</div>