
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="news-agile bg-cream py-5" id="news">
	<div class="container py-xl-5 py-lg-3">
		<div class="row">
			<!-- order form -->
			<div class="col-lg-4 order-form-w3ls pl-lg-0" id="order">
				<div class="agile_its_registration bg-white">
					<h3 class="title-2 mb-3">Order a Cake</h3>
					<p class="mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
					<form action="#" method="post">
						<div class="agileits-location form-group">
							<label>Shape</label>
							<select required>
								<option value="">Round</option>
								<option value="1">rectangle</option>
								<option value="2">square</option>
								<option value="2">custom</option>
							</select>
							<div class="clear"></div>
						</div>
						<div class="agileits-location w3ls-1 form-group">
							<label>Levels</label>
							<select required>
								<option value="">1</option>
								<option value="1">2</option>
								<option value="2">3</option>
								<option value="2">4</option>
							</select>
							<div class="clear"></div>
						</div>
						<div class="agileits-location form-group">
							<label>Size</label>
							<select required>
								<option value="">4 inch</option>
								<option value="">6 inch</option>
								<option value="">8 inch</option>
								<option value="">10 inch</option>
							</select>
							<div class="clear"></div>
						</div>
						<div class="agileits-location w3ls-1 form-group">
							<label>Flavor</label>
							<select required>
								<option value="">Chocolate</option>
								<option value="">Butterscotch </option>
								<option value="">Strawberry</option>
								<option value="">Vanilla</option>
							</select>
							<div class="clear"></div>
						</div>
						<input type="submit" value="Order" class="agileinfo-order btn" />
					</form>
				</div>
			</div>
			<!-- //order form -->
			<!-- news -->
			<div class="col-lg-8 news-blog mt-lg-0 mt-5">
				<h3 class="title-2 mb-md-5 mb-4">Company News</h3>
				<div class="row">
					<div class="col-sm-6 news-grids-agile">
						<div class="news-top">
							<a href="single.html">
								<img src="images/news1.jpg" alt="" class="img-fluid" />
							</a>
						</div>
						<div class="price-bottom bg-white p-4">
							<a href="single.html" class="text-dark">Sep 21st, 2018</a>
							<h5 class="mt-3">Sit voluptatem accusantium doloremque</h5>
						</div>
					</div>
					<div class="col-sm-6 news-grids-agile mt-sm-0 mt-5">
						<div class="news-top">
							<a href="single.html">
								<img src="images/news2.jpg" alt="" class="img-fluid" />
							</a>
						</div>
						<div class="price-bottom bg-white p-4">
							<a href="single.html" class="text-dark">Sep 21st, 2018</a>
							<h5 class="mt-3">Sit voluptatem accusantium doloremque</h5>
						</div>
					</div>
				</div>
				<!-- //news -->
				<!-- faqs -->
				<div class="faq-w3agile mt-5" id="faqs">
					<h3 class="title-2 mb-md-5 mb-4">Frequently asked questions</h3>
					<ul class="faq list-unstyled">
						<li class="item1">
							<a href="#" title="click here" class="text-dark border-bottom pb-3">
								Consectetur adipiscing sit elitipsum nec?
								<i class="fas fa-plus float-right"></i>
							</a>
							<ul class="list-unstyled">
								<li class="subitem1">
									<p class="pt-3 pb-4">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
										tincidunt ut laoreet dolore.
										At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
										atque
										corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
									</p>
								</li>
							</ul>
						</li>
						<li class="item2 my-3">
							<a href="#" title="click here" class="text-dark border-bottom pb-3">
								The standard Lorem Ipsum passage Etiam?
								<i class="fas fa-plus float-right"></i>
							</a>
							<ul class="list-unstyled">
								<li class="subitem1">
									<p class="pt-3 pb-4">
										Tincidunt ut laoreet dolore At vero eos et Lorem ipsum dolor sit amet, consectetuer
										adipiscing elit, sed diam nonummy
										nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos
										ducimus
										qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
										occaecati
										cupiditate non provident.
									</p>
								</li>
							</ul>
						</li>
						<li class="item3 my-3">
							<a href="#" title="click here" class="text-dark border-bottom pb-3">
								Ut semper nisl ut laoreet ultrices?
								<i class="fas fa-plus float-right"></i>
							</a>
							<ul class="list-unstyled">
								<li class="subitem1">
									<p class="pt-3 pb-4">
										Dincidunt ut laoreet dolore At vero eos et Lorem ipsum dolor sit amet, consectetuer
										adipiscing elit, sed diam nonummy
										nibh euismod consectetuer adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos
										ducimus
										qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
										occaecati
										cupiditate non provident.
									</p>
								</li>
							</ul>
						</li>
						<li class="item4">
							<a href="#" title="click here" class="text-dark border-bottom pb-3">
								Sed diam nonummy nibh eiusmod faucibus?
								<i class="fas fa-plus float-right"></i>
							</a>
							<ul class="list-unstyled">
								<li class="subitem1">
									<p class="pt-3">
										At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
										nibh euismod consectetuer
										adipiscing elit, sed diam nonummy nibh euismod accusamus et iusto odio dignissimos ducimus qui blanditiis
										praesentium
										voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
										provident.
									</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- //faqs -->
			</div>
		</div>
	</div>
</div>